<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">

{% block stles %}
    <!-- Bootstrap CSS -->
    {{bootstrap.load_css() }}
{% endblock %}

<title>{% block title %}{% endblock %} - Weather</title>
</head>
<body>
    {% block content %}{% endblock %}
    <a href="{{ url_for('index') }}">Main</a>
</br>
    <a href="{{ url_for('history') }}">History</a>
    {% block scripts %}
        <!-- Optional Javascript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>